<h1> Post Submitter </h1>


<form action="/posts" method="post">
  Name: <input id="name" type="text" name="post[name]" >
  Content: <input id="content" type="text" name="post[content]" >
  <input type="submit" id="submit">
</form>