<!DOCTYPE html>
<html>
<body>
<form method="post" action="/posts">
  <input type="text" placeholder="Title" name="name">
  <input type="text" placeholder="Content" name="content">
  <input type="submit" value="submit">
</form>
</body>
</html>
