<!DOCTYPE html>
<html>
<h2>Create a new post!</h2>
<form method="POST" action="/posts">
  <input type="text" placeholder="Title here..." name="name">
  <br><br>
  <textarea placeholder="Content here..." name="content" rows="10" cols="50"></textarea>
  <br><br>
  <input type="submit" value="submit post">
</form>
</html>
