<h1>This is the form to input your cat blog post</h1>
<form class="" action="/posts" method="Post">
  <p> Name for your cat Post: <input type="text" name="name"> </p>
  <p> Content for your cat Post: <input type="text" name="content"> </p>
  <input type="submit" value="submit">
</form>
