<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>

    <form action="/posts" method="post">
      Name: <input type="text" name="post[name]" id="name">
      Content: <input type="text" name="post[content]" id="content">
      <button type="submit" id="submit">Submit</button>


    </form>


  </body>
</html>
