<form method="post" action="/posts">
  <p><input type="text" placeholder="Name" name="post[name]" /></p>
  <p><input type="text" placeholder="Content" name="post[content]" /></p>
  <input type="submit" />
</form>
