<p> <%=@post.name %> </p>
<p> <%=@post.content %> </p>

<form action="/posts/<%= @post.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete" />
    <button type="submit" name= "delete" id = "delete" value="delete"></button>

</form>
