<div>
  <p> <%= @post.name %></p>
  <p> <%= @post.content %></p>
</div>
<div>
  <form action="/posts/<%= @post.id %>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" id="delete">
  </form>
</div>
